<div class="row">
  <div class="large-8 columns">
    <h2>{{dept}}: {{fdate datetime 'MM/DD/YY HH:mm:ss'}}</h2>
  </div>
  <div class="large-4 columns">
    <h3 class="subheader right">{{callDate datetime}}</h3>
  </div>
</div>

{{#if isEditing}}
  <div class="row">
    <div class="large-2 columns">
       <label for="latitude" class="right inline">Latitude</label>
    </div>
    <div class="large-3 columns">
      {{input value=location.latitude id="latitude"}}
    </div>
    <div class="large-2 columns">
      <label for="longitude" class="right inline">Longitude</label>
    </div>
    <div class="large-3 columns">
      {{input value=location.longitude id="longitude"}}
    </div>
    <div class="large-2 columns">
      <div class="right">
        <button class="tiny">Geocode</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-2 columns">
      <label for="street" class="right inline">Street</label>
    </div>
    <div class="large-10 columns">
      {{input value=address.street id="street"}}
    </div>
  </div>
  <div class="row">
    <div class="columns large-2">
      <label for="city" class="right inline">City</label>
    </div>
    <div class="large-3 columns">
      {{input value=address.city id="city"}}
    </div>
    <div class="large-1 columns">
      <select>
        <option value="IL">IL</option>
        <option value="MO">MO</option>
      </select>
    </div>
    <div class="columns large-1">
      <label for="zip" class="right inline">Zip</label>
    </div>
    <div class="large-2 columns">
      {{input value=address.zip id="zip"}}
    </div>
    <div class="large-3 columns">
      <div class="right">
        <button class="tiny">Reverse Geocode</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-2 columns">
       <label for="latitude" class="right inline">Comments</label>
    </div>
    <div class="large-10 columns">
      {{textarea value=comments}}
    </div>
  </div>
{{else}}
  Lat: {{location.latitude}}<br>
  Long: {{location.longitude}}<br>
  Comments: {{comments}}<br>
  <ul>
    {{#each tags}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
  <audio {{bindAttr src=filepath }} controls="controls">
    Your browser does not support the <code>audio</code> element.
  </audio>
  {{isDirty}}
{{/if}}
<hr>
<div class="row">
  <div class="large-12 columns">
    {{#if isEditing}}
      <div class="right">
        <button {{action 'saveCall'}} class="success">Save</button>
        <button {{action 'stopEditing'}} class="secondary">Cancel</button>
      </div>
    {{else}}
      <button {{action 'startEditing'}} class="right">Edit</button>
    {{/if}}
  </div>
</div>