{{dept}}<br>
{{callDate datetime}}<br>
{{id}}<br>
{{#if isEditing}}
  Lat: {{input value=loc.latitude}}<br>
  Long: {{input value=loc.longitude}}<br>
  Comments: {{input value=comments}}<br>
{{else}}
  Lat: {{loc.latitude}}<br>
  Long: {{loc.longitude}}<br>
  Comments: {{comments}}<br>
{{/if}}
<hr>
{{#if isEditing}}
  <button {{action 'saveCall'}}>Save</button>
{{else}}
  <button {{action 'startEditing'}}>Edit</button>
{{/if}}