<div class="row">
  <div class="large-8 columns">
    <h2>{{dept}}: {{fdate datetime 'MM/DD/YY HH:mm:ss'}}</h2>
  </div>
  <div class="large-4 columns">
    <h3 class="subheader right">{{callDate datetime}}</h3>
  </div>
</div>

{{#if isEditing}}
  <div class="row">
    <div class="large-3 columns">
       <label for="latitude" class="right inline">Latitude</label>
    </div>
    <div class="large-3 columns">
      {{input value=loc.latitude id="latitude"}}
    </div>
    <div class="large-3 columns">
      <label for="longitude" class="right inline">Longitude</label>
    </div>
    <div class="large-3 columns">
      {{input value=loc.longitude id="longitude"}}
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns">
       <label for="latitude" class="right inline">Comments</label>
    </div>
    <div class="large-9 columns">
      {{textarea value=comments}}
    </div>
  </div>
{{else}}
  Lat: {{loc.latitude}}<br>
  Long: {{loc.longitude}}<br>
  Comments: {{comments}}<br>
  <audio {{bindAttr src=filepath }} controls="controls">
    Your browser does not support the <code>audio</code> element.
  </audio>
{{/if}}
<hr>
<div class="row">
  <div class="large-12 columns">
    {{#if isEditing}}
      <div class="right">
        <button {{action 'saveCall'}} class="success">Save</button>
        <button {{action 'stopEditing'}} class="secondary">Cancel</button>
      </div>
    {{else}}
      <button {{action 'startEditing'}} class="right">Edit</button>
    {{/if}}
  </div>
</div>